<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONFIDENTIAL ASSESMENTS</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <a href="home">HOME</a>
        <a class="active" href="assesments">CONFIDENTIAL ASSESMENTS</a>
        <a href="therapy">ONLINE THERAPY SESSIONS</a>
        <a href="community">COMMUNITY CONNECT</a>
        <a href="selfhelp">SELF HELP RESOURCES</a>
        <a href="profile">PROFILE</a>
      </div>
    </header>
    <section class="writeup">
      <p>
        Embarking on a journey towards improved mental well-being begins with
        understanding where you currently stand. At Inner Compass, we offer
        confidential assessments designed to provide insight into your mental
        health and help you chart a path towards greater wellness. Our
        assessments are carefully crafted to respect your privacy and
        confidentiality while providing valuable insights that can guide you on
        your journey. Whether you're exploring therapy options, seeking to
        understand your current mental state, or simply curious about areas for
        potential growth, our assessments are here to support you every step of
        the way. Take the first step towards a brighter future by embarking on a
        confidential assessment journey with Inner Compass today.
      </p>
    </section>
  </body>
  <footer>
    Stay Connected:<br />

    Join Our Community: Sign up for our newsletter to receive updates,
    resources, and inspiration straight to your inbox.<br />

    Follow Us: Connect with us on social media for daily tips, affirmations, and
    community engagement.<br />

    Get Help: If you're in crisis or need immediate support, please reach out to
    emergency services or helplines in your area.<br />

    Privacy Policy | Terms of Service | Contact Us<br />

    &copy;2024 Inner Compass. All rights reserved.
  </footer>
</html>
