<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COMMUNITY CONNECT</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <a href="home">HOME</a>
        <a href="assesments">CONFIDENTIAL ASSESMENTS</a>
        <a href="therapy">ONLINE THERAPY SESSIONS</a>
        <a class="active" href="community">COMMUNITY CONNECT</a>
        <a href="selfhelp">SELF HELP RESOURCES</a>
        <a href="profile">PROFILE</a>
      </div>
    </header>
    <section class="writeup">
      <p>
        Welcome to Community Connect, the heart of Inner Compass where support,
        understanding, and growth intersect in a safe and inclusive space. Our
        platform is more than just a community—it's a lifeline where individuals
        from all walks of life come together to share experiences, seek
        guidance, and find solace in knowing they're not alone. Here, comfort
        zones expand as we encourage each other to step into new territory,
        supported by the comforting presence of chatbots offering immediate
        assistance and guidance. Anonymity is respected, ensuring everyone feels
        comfortable engaging in discussions and seeking support. Join us in
        building a community where every voice is heard, every journey is
        respected, and together, we find strength, support, and solidarity on
        the path to healing and growth. Welcome to Community Connect—your
        sanctuary in the digital world.
      </p>
    </section>
  </body>
  <footer>
    Stay Connected:<br />

    Join Our Community: Sign up for our newsletter to receive updates,
    resources, and inspiration straight to your inbox.<br />

    Follow Us: Connect with us on social media for daily tips, affirmations, and
    community engagement.<br />

    Get Help: If you're in crisis or need immediate support, please reach out to
    emergency services or helplines in your area.<br />

    Privacy Policy | Terms of Service | Contact Us<br />

    &copy;2024 Inner Compass. All rights reserved.
  </footer>
</html>
