<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Mood Predictor</h1>
    <form action="/predict" method="post">
      <label for="day">Weekday:</label>
      <input type="text" id="day" name="day" required /><br />

      <label for="time">Time:</label>
      <input type="text" id="time" name="time" required /><br />

      <label for="mood">Mood:</label>
      <input type="text" id="mood" name="mood" required /><br />

      <label for="activity">Activity:</label>
      <input type="text" id="activity" name="activity" required /><br />

      <button type="submit">Predict</button>
    </form>
  </body>
</html>
