<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROFILE</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <a href="home">HOME</a>
        <a href="assesments">CONFIDENTIAL ASSESMENTS</a>
        <a href="therapy">ONLINE THERAPY SESSIONS</a>
        <a href="community">COMMUNITY CONNECT</a>
        <a href="selfhelp">SELF HELP RESOURCES</a>
        <a class="active" href="profile">PROFILE</a>
      </div>
    </header>
    <section class="writeup">
      <p>
        Your profile is your personal sanctuary within the Inner Compass
        community—an opportunity to express yourself, track your progress, and
        connect with others on a deeper level. Here, you can share your journey,
        set goals, and access personalized recommendations tailored to your
        needs and interests. Your profile is more than just a digital
        representation—it's a reflection of your resilience, strength, and
        commitment to prioritizing your mental well-being. Join us in embracing
        the power of community and self-discovery as we navigate the path to
        greater wellness together. Welcome to your Inner Compass profile—where
        your journey begins.
      </p>
    </section>
  </body>
  <footer>
    Stay Connected:<br />

    Join Our Community: Sign up for our newsletter to receive updates,
    resources, and inspiration straight to your inbox.<br />

    Follow Us: Connect with us on social media for daily tips, affirmations, and
    community engagement.<br />

    Get Help: If you're in crisis or need immediate support, please reach out to
    emergency services or helplines in your area.<br />

    Privacy Policy | Terms of Service | Contact Us<br />

    &copy;2024 Inner Compass. All rights reserved.
  </footer>
</html>
