<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SELF HELP RESOURCES</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      header {
        font-size: larger;
        font-weight: 800;
        background-color: white;
      }
      body {
        background-color: #73ccd0;
        display: flex;
        flex-direction: column;
        gap: 100px;
      }
      section {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <header
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        >
          <div class="col-md-1 mb-2 mb-md-0">
            <a
              href="/"
              class="d-inline-flex link-body-emphasis text-decoration-none"
            >
              <img
                src="/Images/logo-for-mental-health-include-compass (1).jpeg"
                width="50"
              />
            </a>
          </div>
          <ul
            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="home" class="nav-link px-2" style="color: #111">HOME</a>
            </li>
            <li>
              <a href="assessments" class="nav-link px-2" style="color: #111"
                >ASSESSMENTS</a
              >
            </li>
            <li>
              <a href="therapy" class="nav-link px-2" style="color: #111"
                >THERAPY</a
              >
            </li>
            <li>
              <a href="community" class="nav-link px-2" style="color: #111"
                >COMMUNITY CONNECT</a
              >
            </li>
            <li>
              <a href="resource" class="nav-link px-2" style="color: #111"
                >RESOURCES</a
              >
            </li>
          </ul>
          <div class="col-md-1 text-end">
            <a href="profile"><img src="/Images/user.gif" width="70" /></a>
          </div>
        </header>
      </div>
    </header>
    <section class="container writeup">
      <h1>SELF HELP RESOURCES</h1>
      <p class="lead" style="font-weight: 600; text-align: justify">
        Empowering yourself to take control of your mental well-being is a
        journey worth embarking on. At Inner Compass, we believe in providing
        you with the tools and resources you need to support your own growth and
        healing. Our self-help resources section is curated with care, offering
        a diverse range of content to meet your unique needs and interests. From
        guided mindfulness exercises and soothing music to insightful articles
        and interactive tools, our platform is your go-to destination for
        holistic self-care. Whether you're looking to manage stress, improve
        your mood, or simply explore new avenues for personal growth, our
        self-help resources are here to support you every step of the way. Take
        the first step towards a healthier, happier you by diving into our
        self-help resources today.
      </p>
    </section>
    <section class="music">
      <h2>SOOTHING MUSIC</h2>
      <div class="happy my-5">
        <h5>DELIGHTED</h5>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/0RH319xCjeU8VyTSqCF6M4?utm_source=generator"
          width="75%"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="sad">
        <h5>DISHEARTENED</h5>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/6nxPNnmSE0d5WlplUsa5L3?utm_source=generator"
          width="75%"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="angry">
        <h4>FURIOUS</h4>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/37i9dQZF1EIgNZCaOGb0Mi?utm_source=generator"
          width="75%"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="betrayed">
        <h4>DECIEVED</h4>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/6E1hf6VZ5QwvBwrR3iB0CP?utm_source=generator"
          width="75%"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="confused">
        <h4>CONFUSED</h4>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/63GnUl1NxDKld4ZjjzUCBc?utm_source=generator"
          width="75%"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
    </section>
    <section class="videos">
      <h2>SELF-HELP VIDEOS</h2>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/w-HYZv6HzAs?si=w9ABx7EzmGOQ6Qw4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Tqsz6fjvhZM?si=QUWEfT0ZS83waaSj"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe
      ><br />
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/m3-O7gPsQK0?si=jw9ICMbDXarka_7r"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/c2OTHeCKsBE?si=8lis4lc9C1JLZQx2"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </section>
    <section class="art">
      <h2>ART THERAPY</h2>
      <img src="/Images/painting1.jpg" width="35%" height="35%" />
      <img src="/Images/painting2.png" width="35%" height="20%" />
      <img src="/Images/painting3.jpg" width="35%" height="35%" />
    </section>
    <section class="mindfulness">
      <h2>MINDFULNESS PRACTICES</h2>
      <img src="/Images/m1.jpg" width="35%" height="35%" />
      <img src="/Images/m3.png" width="35%" height="35%" />
    </section>
  </body>
  <footer style="background-color: white">
    <div class="container">
      <footer
        class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
      >
        <div class="col mb-3">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <p class="text-body-secondary">
            © 2024 Inner Compass. All rights reserved.<br />
            Privacy Policy | Terms of Service | Contact Us
          </p>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
          <h5>Join Our Community</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" style="text-align: justify">
              Sign up for our newsletter to receive updates, resources, and
              inspiration straight to your inbox.
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Follow Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" style="text-align: justify">
              Connect with us on social media for daily tips, affirmations, and
              community engagement.
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Get Help</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" style="text-align: justify">
              If you're in crisis or need immediate support, please reach out to
              emergency services or helplines in your area.
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
