header {
  font-size: larger;
  font-weight: 800;
  background-color: white !important;
}
footer {
  background-color: white !important;
}
.screen1,
.screen2 {
  text-align: center;
  background-color: #43ccb8;
}
.hide {
  display: none;
}

/*screen1*/
body {
  background-color: #43ccb8 !important;
}
h1,
p,
h2 {
  color: #34355b;
}

h1,
h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  margin-bottom: 1.4rem;
}

.screen1 p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  margin-bottom: 2rem;
}

.screen1 img {
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.screen1 img:hover {
  animation: shake 0.2s ease-in-out infinite;
}

/*screen2*/

.fortune {
  background: #fbf6f2;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  padding: 1rem;

  animation: appearing 1s 0.2s forwards;
  opacity: 0;
  transform: translateY(500px);
}

.fortune p {
  font-family: "Dancing Script", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;

  margin-bottom: 1.6rem;
}

button {
  background: #eb5f43;
  border-radius: 4px;
  border: none;
  padding: 1.6rem;

  font-family: "DM Sans";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;

  cursor: pointer;

  transition: background 0.7s;
}

button:hover {
  background: #f38671;
}

.screen2 img {
  margin-bottom: 1.7rem;
}
.pet {
  text-align: center;
  border: 1px solid;
  border-radius: 8px;
  padding: 20px;
  background-color: #fee252;
}

.pet img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}
.virtual-pets {
  text-align: center;
  padding: 20px;
}

.pet-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #43ccb8;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes appearing {
  0% {
    transform: translateY(500px);
    scale: 0;
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
